@media (max-width:1024px) {

    .main_cover {
        padding: 0 32px;
    }

    .shop_all {
        max-width: 1024px;
        width: 100%;
    }
    
    .shop_all_container1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .shop_all_container1 figure {
        display: inline-block;
    }
     
    .shop_all_container1 figcaption {
        color: #B53B1B;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        margin-top: 24px;
    }
    
    .price_and_cart {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-top: 16px;
    }
    
    .price_and_cart p {
        color: #402101;
        font-size: 24px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        line-height: 32px;
    }
    
    .price_and_cart img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }


   
}