@media (max-width:900px) {

    .header_nav {
        position: fixed;
        top: 78px;
        left: -100%;
        background-color: rgb(72, 7, 7);
        width: 50%;
        transition: .5s linear;
    }

    .header_nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 180px;
    }

    .burger {
        display: block;
    }

    .show {
        left: 0;
    }

    .header {
        padding: 9px 24px;
    }

    .logo {
        display: block;
        text-align: center;
    }

    .main_categories_container {
        display: block;
    }

    .category2 {
        margin-top: 40px;
    }

    .gallery_pics_container_1 {
        display: block;
        width: 100%;
    }

    .gallery_img1,
    .gallery_img2 {
        max-width: 900px;
        width: 100%;
        height: 240px;
        background-position: 50%;
        background-size: cover;
    }

    .gallery_img2 {
        margin-top:40px;
    }

    .gallery_img3,
    .gallery_img4 {
        max-width: 450px;
        width: 100%;
        background-position: 50%;
        background-size: cover;
    }

    .gallery_img5 {
        display: none;
    }

}